<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.E2EProject.Listeners">
</listener></listeners>
  <test  name="HomePage_Test">
    <classes>
      <class name="Academy.E2EProject.HomePage_Test"/>
      </classes></test>
     <test  name="ValidateNavigationBar_Test">
     <classes><class name="Academy.E2EProject.ValidateNavigationBar_Test"/> 
     </classes></test>
     <test  name="ValidateTitle_Test"><classes> 
     <class name="Academy.E2EProject.ValidateTitle_Test"/> 
     </classes>  </test> 
     <!-- Test -->
</suite> <!-- Suite -->
